body{
    background-color: rgb(229, 230, 231) !important;
}

.title{
    margin: 2%;
}

.form-control{
    width: 30% !important;
    justify-content: center;
    align-items: center;
    margin: auto;
}